body{
        font-family: verdana, tahoma;
        font-size: 12px;
}

body a{
        text-decoration: none;
        color:#fff;

}

#wrapper{
        max-width: 800px;
        min-width: 350px;
        margin: auto;
}

#main_title{
        font-size: 18px;
        text-align: center;
        letter-spacing: 4px;
}

#small_menu{
        background-color: rgb(0,183,215);
        padding: 4px;
        color:#fff;
}

#header{
        width: 100%;
}

#big_menu{
        background-color: rgb(52,46,90);
        color: #fff;
}


#menu_button{
    margin: -2px;
    color: #fff;
    width: 80px;
    padding-top: 10px;

    background-color: #4abb53;
    border-right: solid thin #fff;
    display: inline-block;
    text-align: center;
    height: 30px;
    cursor: pointer;
    
    
}

#footer{
        background-color: rgb(20, 20, 20);
        color: #fff;
        padding-top: 20px;
        text-align: center;
        height: 80px;
}


#content{
        background-image: url(./images/middle.jpeg);
        min-height: 200px;
        background-size: 100% auto;
        text-align: center;
        padding: 50px;
}


#info{
        max-width: 170px;
        width: 100%;
        min-width: 130px;
        background-color: rgba(0,0,0,0.7);
        height: 200px;
        display: inline-block;
        margin: 4px;
        vertical-align: top;
        color: #fff;
        padding: 4px;
}

#info_header{
        background-color: rgb(255,72,40);
        color: #fff;
        padding: 4px;
        margin-bottom: 10px;
}


/* RESPONSIVE DESIGN */

@media screen and (max-width:500px){

            #big_menu{
                display: none;
            }

}


/* @media screen and (min-width:501px){

    #small_menu{
        display: none;
    }
    
    } */
